.page-home {
  padding: 25px 0;
  width: 100%;
  height: 700px;
  z-index: 99;
  background-image: url('../img/bg-delphintech.jpg');
  background-size: cover;
  background-position: center center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 57, 57, 0.8);
    z-index: -1;
  }

  .caption-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 10;
  }

  h1 {
    font-size: 50px;
    font-family: "LTAzer" !important;
  }

  .badge {
    padding: 16px 24px;
    background-color: rgba(239, 56, 36, 0.15);
    color: #EF3724;
    text-shadow: 0 2px 4px rgba(23, 25, 37, 0.4);
    font-size: 16px;
    border-radius: 40px;
  }
}
