@import '../fonts/font.scss';

.navbar {
  // position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(104, 102, 102, 0.8);
  z-index: 99;

  .floating {
    top: 0;
    background-color: #343a40;
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "LTAzer" !important;
}

.navbar-nav .nav-link {
  padding: 14px 10px;
  .active {
    color: #fff;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
  }
}
