@import '../fonts/font.scss';

.navbar {
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(104, 102, 102, 0.8);
  z-index: 99;

  .floating {
    top: 0;
    background-color: #343a40;
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "LTAzer" !important;
}

.navbar-nav .nav-link {
  padding: 14px 10px;
  .active {
    color: #fff;
    font-weight: bold;
  }
}
