.page-about {
  background-color: #fff;
}

  .img-place {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;height: 100%;
    overflow: hidden;
    z-index: 10;
    width: 280px;
    height: 350px;
    background-color: #dfe0e6;
    overflow: unset;
    &:before {
      content: "";
      position: absolute;
      top: -20px;
      right: -35px;
      width: 100%;
      height: 100%;
      border: 5px solid #EF3724;
      z-index: -1;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
