.page-about {
  background-color: #fff;

  .picture {
    display: flex;
    align-items: center;
  }

  .img-place::before {
      content: "";
      position: absolute;
      top: -20px;
      right: -35px;
      width: 100%;
      height: 100%;
      border: 5px solid #EF3724;
      z-index: -1;
    }
}
