@import '../fonts/font.css';
@import "tailwindcss";
@import 'tailwind-animations';

@theme {
	/* Colors */
	--color-main-1: #ef3724;
	--color-main-2: #dc2064;
	--color-main-3: #aa3c8a;

	--color-dark-1: #2f4858;
	--color-dark-2: #38507c;
	--color-dark-3: #6b4e92;

	--color-back-1: #56423d;
	--color-back-2: #bea6a0;
	--color-back-3: #ede9d0;

	/* Fonts */
	--font-lta: 'LTAzer', serif;
	--font-sans: "Inter", system-ui, serif;
}

@layer components {
  .landing {
    @apply relative h-screen w-full z-10 overflow-hidden py-20 bg-cover bg-center flex flex-col flex-wrap justify-center items-center text-back-3 text-shadow-xs text-center;
    background-image: url('/bg-delphintech.jpg');
  }

  .landing::before {
    content: '';
    @apply absolute inset-0 bg-dark-1/70 -z-10;
  }

  .badge {
	@apply mx-auto w-fit font-bold px-6 py-4 bg-back-2/20 text-red-600 text-base rounded-full drop-shadow-md
  }
}

/* mb-6px => mb-1.5

text[21px] => text-xl */