@import '../fonts/font.css';
@import "tailwindcss";
@import 'tailwind-animations';

@theme {
	/* Colors */
	--color-main-1: #ef3724;
	--color-main-2: #dc2064;
	--color-main-3: #aa3c8a;

	--color-dark-1: #2f4858;
	--color-dark-2: #38507c;
	--color-dark-3: #6b4e92;

	--color-back-1: #56423d;
	--color-back-2: #bea6a0;
	--color-back-3: #ede9d0;

	/* Fonts */
	--font-lta: 'LTAzer', serif;
	--font-sans: "Inter", system-ui, serif;
}

@layer components {
  .page-home {
    @apply relative block w-full overflow-hidden py-20 h-175 z-99 bg-cover bg-center;
    background-image: url('/bg-delphintech.jpg');
  }

  .page-home::before {
    content: '';
    @apply absolute inset-0 bg-dark-1/70 -z-10;
  }
}

/* mb-6px => mb-1.5

text[21px] => text-xl */